@charset "UTF-8";
/* roboto-regular - latin_cyrillic */
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Головна палітра кольорів */
/* Фонові кольори */
/* FLEX-змінні */
/* OTHER */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 15px 37px;
  background-color: #0a8bfe;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.logo-text__icon {
  fill: white;
  transition: fill 250ms ease-in-out;
}
.logo-text:hover .logo-text__icon, .logo-text:focus .logo-text__icon {
  fill: orangered;
}

.logo-icon {
  margin-right: 9px;
  fill: white;
  opacity: 0.29;
}

.section-call {
  margin: 0 auto;
  position: relative;
  width: 1440px;
  height: 1036px;
  background-image: url(../images/callback.png);
}

.callback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  width: 528px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  width: 500px;
}
.callback__title {
  display: block;
  margin-bottom: 125px;
  font-size: 25px;
  line-height: 1.52;
  color: #000000;
}
.callback__input {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.callback__textarea {
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  resize: none;
}
.callback__btn {
  background: #0a8bfe;
  border: none;
  border-radius: 4px;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  padding: 15px 0;
}

.header__flex {
  display: flex;
  align-items: center;
}

.header__list {
  margin-left: 414px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__item {
  font-weight: 400;
  font-size: 13px;
  line-height: 2.3076923077;
  color: #ffffff;
}

.header__link {
  padding: 15px 0;
  transition: color 250ms ease-in-out, transform 250ms ease-in-out;
}
.header__link:hover, .header__link:focus {
  color: orangered;
  transform: scale(1.2);
}

.btn-header {
  margin-left: auto;
  width: 138px;
  height: 40px;
  padding: 12px 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2307692308;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out, transform 250ms ease-in-out;
}
.btn-header:hover, .btn-header:focus {
  transform: scale(1.2);
  color: orangered;
  border-color: orangered;
}

.hero {
  margin: 0 auto;
  width: 1440px;
  padding-top: 240px;
  padding-bottom: 200px;
  background-color: #0d0d33;
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0px;
  display: flex;
  align-items: center;
}

.hero__title {
  width: 460px;
  margin-bottom: 35px;
  font-size: 42px;
  line-height: 1.2;
  color: #ffffff;
}

.hero__text {
  width: 410px;
  margin-bottom: 35px;
  font-size: 11px;
  line-height: 2.7;
  color: #ffffff;
}

.hero__btn {
  padding: 15px 37px;
  background-color: #0a8bfe;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.industry {
  margin-top: 150px;
  margin-right: 690px;
  margin-bottom: 160px;
  margin-left: 230px;
}

.industry__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  text-transform: uppercase;
  line-height: 1.2195121951;
  color: #000000;
  margin-right: 15px;
  margin-bottom: 35px;
}

.industry__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #737373;
  width: 469px;
  height: 90px;
  margin-bottom: 45px;
}

.industry__list {
  display: flex;
  gap: 30px;
}

:root {
  --title-color: #000000;
  --subtitle-color: #737373;
  --font: "Roboto", sans-serif;
  --btn-color:#0A8BFE;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

.list {
  text-decoration: none;
}

.career {
  display: block;
  font-family: var(--font);
}

.career__title {
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 1.22;
  text-align: center;
  color: var(--title-color);
}

.career__subtitle {
  font-size: 11px;
  line-height: 2.73;
  text-align: center;
  color: var(--subtitle-color);
}

.btn {
  display: block;
  max-width: 200px;
  font-family: inherit;
  text-align: center;
  font-size: 15px;
  line-height: 2;
  border: 2px solid #E8E8E8;
  border-radius: 30px;
  color: var(--btn-color);
}

.btn__previous {
  border: 2px solid #E8E8E8;
}

.btn__next {
  border: 2px solid #E8E8E8;
}

.section__regions {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  padding-top: 59px;
  background-color: #ffffff;
}

.regions__title {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.1904761905;
  text-align: center;
  color: #000000;
  margin-bottom: 31px;
}

.regions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.regions__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: calc((100% - 46px) / 3);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  padding: 29px 24px 34px 20px;
}

.regions__uppertitle {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  color: #737373;
}

.regions__location {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #000000;
}

.regions__icon {
  align-self: flex-end;
}

.reliable-box {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  background-color: #FFFFFF;
  position: relative;
  bottom: 50px;
  margin-bottom: 150px;
}
.reliable-box__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.4615384615;
  color: #000000;
}
.reliable-box__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #737373;
}

.reliable-box__content {
  display: block;
  padding: 50px 12px 50px 25px;
  border-right: 1px solid #E8E8E8;
  margin-right: 10px;
}

.reliable-box__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  -moz-column-gap: 100px;
       column-gap: 100px;
  padding-top: 50px;
  padding-bottom: 22px;
  padding-left: 60px;
  padding-right: 25px;
}

.eliable-box__list__item {
  font-size: 11px;
  line-height: 2.7272727273;
  color: #737373;
  width: 136px;
  height: 60px;
}

.values__container {
  max-width: 1440px;
  padding: 0px 150px;
  padding-top: 150px;
}

.values {
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
}

.values__title {
  margin-bottom: 36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
}

.values__text {
  display: block;
  max-width: 698px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 70px;
  font-size: 11px;
  line-height: 2.7;
  text-align: center;
  color: #737373;
}

.values__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  gap: 126px;
  flex-direction: row;
  padding: 80px;
  margin: 0;
  list-style: none;
  background: #fafafa;
}

.values__item {
  padding: 0;
  margin: 0;
  color: #888888;
}

.value__icon {
  color: currentColor;
}

.tittle {
  background: #0e0e33;
}

.hero-two {
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}

.hero-nub-one {
  display: flex;
  padding-right: 238px;
  padding-left: 180px;
  height: 50px;
  left: 0%;
  right: 71.76%;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  color: #ffffff;
}

.hero-nub-two {
  display: flex;
  padding-right: 280px;
  height: 50px;
  left: 0%;
  right: 71.76%;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  color: #ffffff;
}

.hero-text {
  height: 60px;
  left: 0%;
  right: 31.76%;
  top: 65px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  color: #ffffff;
}

.who-we-are {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container__title {
  min-width: 373px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 1.2195121951;
  text-align: center;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
.container__text {
  min-width: 654px;
  top: 85px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.5;
  text-align: center;
  color: #737373;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
}
.container__list {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 100px;
  margin-bottom: 50px;
}

.section {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container__list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 1.652173913;
  text-align: center;
  color: #000000;
}
.container__list__item:hover, .container__list__item:focus {
  color: #0A8BFE;
}

.desc {
  margin-bottom: 50px;
}
.desc__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.desc__item {
  max-width: 560px;
  border: 1px solid #E8E8E8;
  border-radius: 0px;
  flex-basis: calc((100% - 40px) / 2);
  padding: 40px 60px 40px 40px;
}
.desc__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4736842105;
  color: #000000;
  margin-bottom: 23px;
}
.desc__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #737373;
}

.button {
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.footer {
  background: #0e0e33;
  border-radius: 0px;
  width: 1440px;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 122px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.box {
  display: flex;
}

.list {
  font-size: 15px;
  line-height: 1.9;
  color: #ffffff;
  display: flex;
  gap: 82px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 148px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 148px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
  margin-right: auto;
  padding-bottom: 59px;
}

.foorer__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__list {
  flex-basis: 320px;
}

.footer__list-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 21px;
}

.test {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 59px;
  padding-bottom: 149px;
}

.footer__mnemony {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
}

.footer__social-box {
  display: flex;
  padding-top: 34px;
}

.footer__mnemony-list {
  margin-right: auto;
}

.footer__social-link {
  margin-right: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  display: flex;
}

.footer_sitemap {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
}

/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
.modal-link {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}/*# sourceMappingURL=index.css.map */