/* Головна палітра кольорів */
$txt-color-gray: #737373;
$title-txt-color: #212121;
$btn-color: #0a8bfe;
$white-txt-color: #ffffff;
$slider-btn-color: #0a8bfe;

/* Фонові кольори */

$footer-bg-color: #0e0e33;

$white-bg-color: #ffffff;

/* FLEX-змінні */

/* OTHER */
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$item: 1;
