<section class="section-call">
  <form class="callback">
    <strong class="callback__title"
      >Request a callback from our expert team</strong
    >
    <label class="callback__field">
      <input
        class="callback__input"
        type="text"
        name="sevice"
        placeholder="Required sevice*"
        required
      />
    </label>
    <label class="callback__field">
      <textarea
        class="callback__taxtarea"
        name="details"
        placeholder="Details*"
      ></textarea>
    </label>
    <button class="callback__btn button" type="submit">Send request</button>
  </form>
</section>
