<section class="section-call">
  <form class="callback">
    <strong class="callback__title"
      >Request a callback from our expert team</strong
    >
    <label class="callback__field">
      <input
        class="callback__input"
        name="Required sevice"
        type="text"
        placeholder="Required sevice*"
      />
    </label>
    <label class="callback__field">
      <textarea
        class="callback__textarea"
        name="Details"
        placeholder="Details*"
      ></textarea>
    </label>
    <button class="button" type="submit">Send request</button>
  </form>
</section>
