<footer class="footer">
  <div class="box">
    <h2 class="title">Trusted by businesses worldwide.</h2>
    <a href=""
      ><svg class="" width="122px" height="40px">
        <use href="images/icons.svg#Appello"></use>
      </svg>
    </a>
  </div>

  <div class="list">
    <ul class="footer__list">
      <li>
        <h2 class="footer__list-title">Our services</h2>
      </li>
      <li class="foorer__item">iOS App Development</li>
      <li class="foorer__item">Android App Development</li>
      <li class="foorer__item">UX/UI App Design</li>
      <li class="foorer__item">Custom Software Development</li>
      <li class="foorer__item">Healthcare Software Development</li>
      <li class="foorer__item">Education Software Development</li>
      <li class="foorer__item">FinTech Software Development</li>
    </ul>
    <ul class="footer__list">
      <li>
        <h2 class="footer__list-title">Our offices</h2>
      </li>
      <li class="foorer__item">WeWork - George St, Sydney, Australia</li>
      <li class="foorer__item">Sydney Startup Hub - Sydney, Australia</li>
      <li class="foorer__item">WeWork - Edward St, Brisbane, Australia</li>
      <li class="foorer__item">40 Bank St, Canary Wharf, London, UK</li>
      <li class="foorer__item">WeWork - Paddington, West London, UK</li>
      <li class="foorer__item">WeWork - Mission St, San Francisco, US</li>
    </ul>
    <ul>
      <li>
        <h2 class="footer__list-title">Contact us</h2>
      </li>
      <li class="foorer__item">
        Email:
        <a href="mailto:hello@appello.com.au">hello@appello.com.au</a>
      </li>
      <li class="foorer__item">
        Sydney:
        <a href="tel:+61027 202 5164">(+61) 027 202 5164</a>
      </li>
      <li class="foorer__item">
        London:
        <a href="tel:+442036083126">London: (+44) 203 608 3126</a>
      </li>
      <li class="foorer__item">
        San Francisco:
        <a href="tel:+16282806518"> (+1) 628 280 6518</a>
      </li>
    </ul>
  </div>
  <div class="footer__social-box">
    <ul class="footer__mnemony-list">
      <li class="footer__mnemony">&copy Appello Pty. Ltd.2021</li>
    </ul>
    <ul class="footer__social-link">
      <li>
        <a href="https://facebook.com">Facebook</a>
      </li>
      <li><a href="https://instagram.com">Instagram</a></li>
      <li><a href="https://Dribbble.com">Dribbble</a></li>
      <li><a href="https://linkedin.com">Linkedin</a></li>
    </ul>
    <ul class="footer_sitemap">
      <li>Sitemap</li>
    </ul>
  </div>
</footer>
