<footer class="footer">
  <div class="box">
    <h2 class="title">Trusted by businesses worldwide.</h2>
    <a href=""
      ><svg class="" width="122px" height="40px">
        <use href="images/icons.svg#Appello"></use>
      </svg>
    </a>
  </div>
  <div class="list">
    <ul>
      <li>Our services</li>
      <li>iOS App Development</li>
      <li>Android App Development</li>
      <li>UX/UI App Design</li>
      <li>Custom Software Development</li>
      <li>Healthcare Software Development</li>
      <li>Education Software Development</li>
      <li>FinTech Software Development</li>
    </ul>
    <ul>
      <li>Our offices</li>
      <li>WeWork - George St, Sydney, Australia</li>
      <li>Sydney Startup Hub - Sydney, Australia</li>
      <li>WeWork - Edward St, Brisbane, Australia</li>
      <li>40 Bank St, Canary Wharf, London, UK</li>
      <li>WeWork - Paddington, West London, UK</li>
      <li>WeWork - Mission St, San Francisco, US</li>
    </ul>
    <ul>
      <li>Contact us</li>
      <li>
        Email:
        <a href="mailto:hello@appello.com.au">hello@appello.com.au</a>
      </li>
      <li>
        Sydney:
        <a href="tel:+61027 202 5164">(+61) 027 202 5164</a>
      </li>
      <li>
        London:
        <a href="tel:+442036083126">London: (+44) 203 608 3126</a>
      </li>
      <li>
        San Francisco:
        <a href="tel:+16282806518"> (+1) 628 280 6518</a>
      </li>
    </ul>
  </div>
</footer>
