<header class="header">
  <div class="container header__flex">
    <svg class="logo-icon" width="29" height="29">
      <use href="images/sprite.svg#logo"></use>
    </svg>
    <a class="logo-text" href="">
      <svg class="logo-text__icon" width="56" height="15">
        <use href="images/sprite.svg#logo-text"></use></svg
    ></a>
    <ul class="header__list">
      <li class="header__item"><a class="header__link" href="">Home</a></li>
      <li class="header__item">
        <a class="header__link" href="">Portfolio</a>
      </li>
      <li class="header__item"><a class="header__link" href="">Process</a></li>
      <li class="header__item"><a class="header__link" href="">Team</a></li>
      <li class="header__item">
        <a class="header__link" href="">Resources</a>
      </li>
    </ul>
    <button class="btn-header" type="button">Get project quote</button>
  </div>
</header>
