<section class="hero">
  <div class="container">
    <h1 class="hero__title">Leaders in Software Design & Development</h1>
    <p class="hero__text">
      Establishing a technology company takes a strong software team to deliver
      on what needs to be done.
    </p>
    <button class="hero__btn" type="button">View our work</button>
  </div>

  <section>
    <h1>Leaders in Software Design & Development</h1>
    <p>
      Establishing a technology company takes a strong software team to deliver
      on what needs to be done.
    </p>
    <button type="button">View our work</button>
  </section>
</section>
