<section class="industry container">
  <h2 class="industry__title">We're industry approved</h2>
  <p class="industry__text" width="469" height="90">
    Appello is one of Australia’s most highly rated software companies by
    recognisable directories like Clutch, GoodFirms, AppFutura and many more.
  </p>
  <ul class="industry__list">
    <li class="industry__item">
      <img
        class="industry__item"
        src="images/industry/image_1.png"
        alt="Логотип компанії appfutura"
        width="94"
        height="94"
      />
    </li>
    <li class="industry__item">
      <img
        class="industry__item"
        src="images/industry/image_2.png"
        alt="Логотип компанії appfutura"
        width="94"
        height="94"
      />
    </li>
    <li class="industry__item">
      <img
        class="industry__item"
        src="images/industry/image_3.png"
        alt="Логотип компанії appfutura"
        width="94"
        height="94"
      />
    </li>
    <li class="industry__item">
      <img
        class="industry__img"
        src="images/industry/image_4.png"
        alt="Логотип компанії appfutura"
        width="94"
        height="94"
      />
    </li>
  </ul>
</section>
