<section class="career">
  <div class="container">
    <h2 class="career__title">kickstart your tech career</h2>
    <p class="career__subtitle">
      We're always on the lookout for bright strategic minds, creative
      superstars and coding gurus. Select one of our current opportunities below
      to apply.
    </p>
    <ul class="kickstart__list list">
      <li class="kickstart__btn">
        <button type="button" class="btn">Engineer</button>
      </li>
      <li class="kickstart__btn">
        <button type="button" class="btn">Product Designer</button>
      </li>
      <li class="kickstart__btn">
        <button type="button" class="btn">Project Manager</button>
      </li>
      <li class="kickstart__btn">
        <button type="button" class="btn">Finance Director</button>
      </li>
      <li class="kickstart__btn">
        <button type="button" class="btn">Project Manage</button>
      </li>
      <li class="kickstart__btn">
        <button type="button" class="btn">Frontend Engineer</button>
      </li>
    </ul>

    <button type="button" class="btn__previous">
      <svg>
        <use></use>
      </svg>
    </button>
    <button type="button" class="btn__next">
      <svg>
        <use></use>
      </svg>
    </button>
  </div>
</section>
