<section class="section">
  <div class="reliable-box">
    <div class="reliable-box__content">
      <h2 class="reliable-box__title">
        Your reliable web and app development partner
      </h2>
      <p class="reliable-box__text">
        We make successful products that turn great ideas into user-friendly
        solutions for consumers and businesses.
      </p>
    </div>

    <ul class="reliable-box__list">
      <li class="eliable-box__list__item">Completely tailored software.</li>
      <li class="eliable-box__list__item">
        Daily support with project manager.
      </li>
      <li class="eliable-box__list__item">
        Projects delivered on time, always.
      </li>
      <li class="eliable-box__list__item">Testing and quality assurance.</li>
      <li class="eliable-box__list__item">Professional marketing expertise.</li>
      <li class="eliable-box__list__item">Transparent costs and support.</li>
    </ul>
  </div>
</section>
