<section class="section">
  <h2 class="header">Your reliable web and app development partner</h2>
  <p class="text">
    We make successful products that turn great ideas into user-friendly
    solutions for consumers and businesses.
  </p>
  <ul class="column">
    <li>Completely tailored software.</li>
    <li>Daily support with project manager.</li>
    <li>Projects delivered on time, always.</li>
    <li>Testing and quality assurance.</li>
    <li>Professional marketing expertise.</li>
    <li>Transparent costs and support.</li>
  </ul>
</section>
