<section class="values values__container">
  <h2 class="values__title">We value our relationships</h2>
  <p class="values__text">
    Over the past decade, Appello has established itself as a leader in the IT
    industry. Along the way, we have formed a number of valued relationships
    with both clients and business partners.
  </p>
  <ul class="values__list">
    <li class="values__item">
      <a href="">
        <svg class="values__icon" width="150" height="50">
          <use href="images/icons.svg#icon-partner1"></use>
        </svg>
      </a>
    </li>
    <li class="values__item">
      <a href="">
        <svg class="values__icon" width="150" height="50">
          <use href="images/icons.svg#icon-partner2"></use>
        </svg>
      </a>
    </li>
    <li class="values__item">
      <a href="">
        <svg class="values__icon" width="150" height="50">
          <use href="images/icons.svg#icon-partner3"></use>
        </svg>
      </a>
    </li>
    <li class="values__item">
      <a href="">
        <svg class="values__icon" width="150" height="50">
          <use href="images/icons.svg#icon-partner4"></use>
        </svg>
      </a>
    </li>
    <li class="values__item">
      <a href="">
        <svg class="values__icon" width="150" height="50">
          <use href="images/icons.svg#icon-partner5"></use>
        </svg>
      </a>
    </li>
    <li class="values__item">
      <a href="">
        <svg class="values__icon" width="150" height="50">
          <use href="images/icons.svg#icon-partner6"></use>
        </svg>
      </a>
    </li>
    <li class="values__item">
      <a href="">
        <svg class="values__icon" width="150" height="50">
          <use href="images/icons.svg#icon-partner7"></use>
        </svg>
      </a>
    </li>
    <li class="values__item">
      <a href="">
        <svg class="values__icon" width="150" height="50">
          <use href="images/icons.svg#icon-partner8"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
