<section>
  <h2>We value our relationships</h2>
  <p>
    Over the past decade, Appello has established itself as a leader in the IT
    industry. Along the way, we have formed a number of valued relationships
    with both clients and business partners.
  </p>
  <ul>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">5</a></li>
    <li><a href="">6</a></li>
    <li><a href="">7</a></li>
    <li><a href="">8</a></li>
  </ul>
</section>
