<section class="proud">
  <div class="container">
    <h2 class="proud__title">We’re proud of our work</h2>
    <ul class="proud__list">
      <li class="proud__item">
        <span class="proud__quatity">50+</span>
        <p class="proud__text">Successfully completed projects</p>
      </li>
      <li class="proud__item">
        <span class="proud__quatity">35+</span>
        <p class="proud__text">Happy and appreciative customers</p>
      </li>
      <li class="proud__item">
        <span class="proud__quatity">10</span>
        <p class="proud__text">Combined years of experience</p>
      </li>
      <li class="proud__item">
        <span class="proud__quatity">23</span>
        <p class="proud__text">Experienced and talented workers</p>
      </li>
    </ul>
    <ul class="card-set">
      <li class="card-set__item">
        <img src="./images/proud/proud-1.jpg" alt="img" class="card-set__img" />
        <div class="card-set__wrapper">
          <h3 class="card-set__title">Eyetelligence – AI-based Eye Health</h3>
          <p class="card-set__text">
            Eyetelligence is a medtech company using AI based software to
            recognise eye diseases. Appello software developed their website
            which has just been released.
          </p>
        </div>
      </li>
      <li class="card-set__item">
        <img src="./images/proud/proud-2.jpg" alt="img" class="card-set__img" />
        <div class="card-set__wrapper">
          <h3 class="card-set__title">Give + Get – Charity Challenger App</h3>
          <p class="card-set__text">
            Give + Get is a modern charity app. “Give”, while joining a
            community of active people who complete challenges and reap the
            rewards they offer; “Get”.
          </p>
        </div>
      </li>
      <li class="card-set__item">
        <img src="./images/proud/proud-3.jpg" alt="img" class="card-set__img" />
        <div class="card-set__wrapper">
          <h3 class="card-set__title">Voken – Shared Childcare App</h3>
          <p class="card-set__text">
            Voken lets people arrange childcare with families they trust, earn
            tokens and use for your own requests.
          </p>
        </div>
      </li>
      <li class="card-set__item">
        <img src="./images/proud/proud-4.jpg" alt="img" class="card-set__img" />
        <div class="card-set__wrapper">
          <h3 class="card-set__title">Chattii – Disability Dating App</h3>
          <p class="card-set__text">
            Chattii is born from the need to provide a space for people living
            with disabilities to connect, chat, and explore their love life.
          </p>
        </div>
      </li>
    </ul>
    <button class="button" type="button">See more</button>
  </div>
</section>
