<section class="section">
  <div class="container">
    <h2 class="container__title">Where are you now?</h2>
    <p class="container__text">
      Use the tabs below to identify what stage you’re at so we can help you to
      move on to the next phase of your project.
    </p>

    <ul class="container__list">
      <li class="btn"><button type="button">Design</button></li>
      <li class="btn"><button type="button">Develop</button></li>
      <li class="btn"><button type="button">Launch</button></li>
    </ul>

    <div class="desc">
      <ul class="">
        <li class="">
          <h3 class="">1. Research</h3>
          <p class="">
            We can help you to better understand your target audience, enabling
            you to create a more powerful value proposition for your business.
          </p>
        </li>
        <li class="">
          <h3 class="">2. Requirements</h3>
          <p class="">
            Based on research insights, we can help you to determine how your
            product and service should function.
          </p>
        </li>
        <li class="">
          <h3 class="">3. UI Design</h3>
          <p class="">
            We’re able to create unique and aesthetically pleasing visual design
            solutions that fulfil both your user needs and business goals.
          </p>
        </li>
        <li class="">
          <h3>4. Prototyping</h3>
          <p>
            We can provide you with a clickable prototype so you can test and
            play with your product; allowing you to get a better feel for the
            user experience.
          </p>
        </li>
      </ul>
    </div>

    <button type="button">Contact us</button>
  </div>
</section>
