<section class="section">
  <div class="container">
    <h2 class="container__title">Where are you now?</h2>
    <p class="container__text">
      Use the tabs below to identify what stage you’re at so we can help you to
      move on to the next phase of your project.
    </p>
    
      <ul class="container__list">
        <li class="container__list__item"><a href="">Design</a></li>
        <li class="container__list__item"><a href="">Develop</a></button></li>
        <li class="container__list__item"><a href="">Launch</a></button></li>
      </ul>
    

    <div class="desc">
      <ul class="desc__list">
        <li class="desc__item">
          <h3 class="desc__title">1. Research</h3>
          <p class="desc__text">
            We can help you to better understand your target audience, enabling
            you to create a more powerful value proposition for your business.
          </p>
        </li>
        <li class="desc__item">
          <h3 class="desc__title">2. Requirements</h3>
          <p class="desc__text">
            Based on research insights, we can help you to determine how your
            product and service should function.
          </p>
        </li>
        <li class="desc__item">
          <h3 class="desc__title">3. UI Design</h3>
          <p class="desc__text">
            We’re able to create unique and aesthetically pleasing visual design
            solutions that fulfil both your user needs and business goals.
          </p>
        </li>
        <li class="desc__item">
          <h3 class="desc__title">4. Prototyping</h3>
          <p class="desc__text">
            We can provide you with a clickable prototype so you can test and
            play with your product; allowing you to get a better feel for the
            user experience.
          </p>
        </li>
      </ul>
    </div>

    <button class="button" type="button">Contact us</button>
  </div>
</section>
