<section class="who-we-are">
  <div class="container">
    <h2 class="container__title">Where are you now?</h2>
    <p class="container__text">
      Use the tabs below to identify what stage you’re at so we can help you to
      move on to the next phase of your project.
    </p>
    <a href="#" class="modal-link js-open-modal" data-modal="1">Открыть окно 1</a>
    <a href="#" class="modal-link js-open-modal" data-modal="1">"Открыть окно 2" 1</a>
    
      <ul class="container__list">
        <li class="container__list__item"><a href="">Design</a></li>
        <li class="container__list__item"><a href="">Develop</a></button></li>
        <li class="container__list__item"><a href="">Launch</a></button></li>
      </ul>
    

    <div class="desc">
      <ul class="desc__list">
        <li class="desc__item">
          <h3 class="desc__title">1. Research</h3>
          <p class="desc__text">
            We can help you to better understand your target audience, enabling
            you to create a more powerful value proposition for your business.
          </p>
        </li>
        <li class="desc__item">
          <h3 class="desc__title">2. Requirements</h3>
          <p class="desc__text">
            Based on research insights, we can help you to determine how your
            product and service should function.
          </p>
        </li>
        <li class="desc__item">
          <h3 class="desc__title">3. UI Design</h3>
          <p class="desc__text">
            We’re able to create unique and aesthetically pleasing visual design
            solutions that fulfil both your user needs and business goals.
          </p>
        </li>
        <li class="desc__item">
          <h3 class="desc__title">4. Prototyping</h3>
          <p class="desc__text">
            We can provide you with a clickable prototype so you can test and
            play with your product; allowing you to get a better feel for the
            user experience.
          </p>
        </li>
      </ul>
    </div>

    <button class="button" type="button">Contact us</button>
  </div>
</section>

<div class="modal" data-modal="1">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <p class="modal__title">Заголовок окна 1</p>
</div>

<div class="modal" data-modal="2">
  <!--   Svg иконка для закрытия окна  -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg"               viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
  <p class="modal__title">Заголовок окна 1</p>
</div>
