.section {
  width: 1190px;
  height: 350px;
}
.section-title {
  padding: 96px 171px 1px 40px;
}
.text {
  padding-left: 133px;
  padding-bottom: 87px;
  padding-right: 40px;
}
.column {
  display: flex;
  align-items: center;
  justify-items: center;
}
