.tittle {
  // width: 1440px;
  // height: 880px;
  // left: 0%;
  // right: 0%;
  // top: 0px;
  background: #0e0e33;
  // border-radius: 0px;
}
.hero-two {
  height: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
// .hero-tit-text {
//   display: flex;
//
// }
// .hero-text-two {
//   display: flex;
//   padding-right: 238px;
// }
// .hero-text-thre {
//   display: flex;
//   padding-right: 280px;
// }
.hero-nub-one {
  display: flex;
  padding-right: 238px;
  padding-left: 180px;
  height: 50px;
  left: 0%;
  right: 71.76%;
  top: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;

  color: #ffffff;
}
.hero-nub-two {
  display: flex;
  padding-right: 280px;

  height: 50px;
  left: 0%;
  right: 71.76%;
  top: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;

  color: #ffffff;
}

.hero-text {
  height: 60px;
  left: 0%;
  right: 31.76%;
  top: 65px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 30px;
  color: #ffffff;
}
