

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container__title {
    
    min-width: 373px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: calc(50px / 41px);
    text-align: center;
    color: #000000;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 35px;

}

.container__text {
    
    min-width: 654px;
    top: 85px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(30px / 12px);
    text-align: center;

    color: #737373;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 85px;
}

.container__list {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 100px;

    margin-bottom: 50px;
    
}

.container__list__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: calc(38px / 23px);
    text-align: center;

    color: #000000;

    &:hover,
    &:focus {
        color: #0A8BFE;
    }
}



.desc {


    &__list {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        list-style: none;
      
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    
    }

    &__item {

        max-width: 560px;
        border: 1px solid #E8E8E8;
        border-radius: 0px;
        flex-basis: calc((100% - 40px) / 2) ;
        padding: 40px 60px 40px 40px;
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: calc(28px / 19px);
        color: #000000;
        margin-bottom: 23px;
    }

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(30px / 16px);
        color: #737373;
    }

}

.button {
    display: block;
    margin: 0 auto;
}

